
.container {
    max-width: 900px; 
    margin: auto;
    padding: 20px;
  }
  .card {
    border: 2px solid #007bff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
  }
  
 
  .card-body {
    padding: 20px;
  }
  

  .table {
    width: 100%; 
    border-collapse: collapse;
  }
  
  .table th {
    background-color: rgb(165, 189, 197); 
    color: #054d9b; 
    padding: 12px 15px; 
    text-align: center; 
  }
  
 
  .table td {
    padding: 10px 15px; 
    text-align: center; 
  }
  .btn {
    margin-right: 10px; 
  }
  
  .table-responsive {
    overflow-x: auto; 
  }
  /* src/styles.css or src/app/item-list.component.css */

.is-invalid {
  border-color: red;
}

.text-danger {
  color: red;
}

  